<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ orgname }} - {{ boardname }}</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lm.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.contextMenu.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}" />

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.ui.position.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.contextMenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/taskboard.js') }}"></script>
    <style>
    </style>
</head>

<body>
<input type="hidden" id="orgid" value="{{ orgid }}">
<input type="hidden" id="board_id" value="{{ id }}">
<input type="hidden" id="board_name" value="{{ boardname }}">
<input type="hidden" id="manager-id" value="{{ managerid }}">
<input type="hidden" id="manager-name" value="{{ accountname }}">
<input type="hidden" id="get-employee-url" value="{{ url_for('get_employee') }}">
<input type="hidden" id="get-tasks-url" value="{{ url_for('get_tasks') }}">
<input type="hidden" id="mark-task-url" value="{{ url_for('mark_task') }}">
<input type="hidden" id="get-comments-url" value="{{ url_for('get_comments') }}">
<input type="hidden" id="get-employees-url" value="{{ url_for('get_employees') }}">
<input type="hidden" id="create-task-url" value="{{ url_for('submit_create_task') }}">
<input type="hidden" id="login-url" value="{{ url_for('signin') }}">
<input type="hidden" id="create-comment-url" value="{{ url_for('add_comment') }}">
<input type="hidden" id="toggle_urgency-url" value="{{ url_for('toggle_urgency') }}">
<input type="hidden" id="assign_task-url" value="{{ url_for('assign_task') }}">
<input type="hidden" id="hide_task-url" value="{{ url_for('toggle_visibility') }}">


<!-- Navigation -->
<nav class="navbar navbar-default">
       
    <div class="container-fluid" id="toggleMngMode">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('show_board', board_id=id) }}">
                <div class="img"></div>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{{ url_for('company', cid=orgid) }}">{{ orgname }}</a>
            </li>
            <li class="nav-link" ><a href="{{ url_for('show_board', board_id=id) }}">{{ boardname }}</a>
            </li>
        </ul>
        <div class="btn-group nav navbar-nav navbar-right nav-link">
            <a class=" dropdown-toggle" data-toggle="dropdown" href="#">
                {{ accountname }}
                <span class="glyphicon glyphicon-menu-down"></span>
            </a>
            <ul class="dropdown-menu">
                <li class="active"><a href="#">{{ accountname }}</a>
                </li>
                <li class="a"><a href="#" onclick="enableEmployeeMode()">Switch to Employees</a>
                </li>
                <hr>
                <li class="a"><a href="{{ url_for('report', board_id=id) }}">Reports</a>
                </li>
                <li class="a"><a href="{{ url_for('logs', board_id=id) }}">Activity Logs</a></li>
                <hr>
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Log Out</a>
                </li>
            </ul>
        </div>
    </div> 

     <div class="container-fluid" id="toggleEmpMode" style="display: none;">
        <div class="navbar-header">
            <a class="navbar-brand not-clickable">
                <div class="img"></div>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a class="not-clickable">{{ orgname }}</a>
            </li>
            <li><a class="not-clickable">{{ boardname }}</a>
            </li>
        </ul>
        <div class="btn-group nav navbar-nav navbar-right">
              <button type="submit" id="switchMode" onclick="event.preventDefault(); showLogin();">
                Switch to Manager
              </button>
        </div>
    </div>

</nav>

<!-- Body -->
<main id="task_states">

    <!-- States -->
    <div class="grid" id="states-block">
        <div class="row boards" id="states">
            <div class="col-sm-4">
                <div class="state">
                    <div class="heading">
                        <h1>To-Do</h1>
                    </div>
                    <div class="empty">
                        <h2><span id="newTasksNumber">0</span> <span class="glyphicon glyphicon-tasks"></span></h2>
                        <h3><span class="btnIcon glyphicon glyphicon-plus" onclick="createTaskForm()" id="addTask"></span></h3>
                    </div>
                    <div class="content" id="newTasks">

                    </div>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="state">
                    <div class="heading">
                        <h1>Doing</h1>
                    </div>
                    <div class="empty">
                        <h2><span id="todoTasksNumber">0</span> <span class="glyphicon glyphicon-tasks"></span></h2>
                    </div>
                    <div class="content dnd-container" id="todo"></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="state">
                    <div class="heading">
                        <h1>Done</h1>
                    </div>
                    <div class="empty">
                        <h2><span id="doneTasksNumber">0</span> <span class="glyphicon glyphicon-tasks"></span></h2>
                    </div>
                    <div class="content dnd-container" id="done"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Employees -->
    <div id="employees-block">
        <div>
            <h4 class="empsInBoard"> Employees (<span id="empsNumber">0</span>)</h4>
        </div>
        <div id="employees" class="employees emps">
        </div>
    </div>
</main>

<div id="confirmTask" class="modal fade" role="dialog">
    <input type="hidden" id="task-action" value="none">
    <input type="hidden" id="task-id" value="none">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content" id="md">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Move Task</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" id="emp-pin-form">
                    <h3 id="emp-pin-form-error" style="background-color: lightcoral"></h3>
                    <label class="control-label " for="emp-pin">
                        Pin
                    </label>
                    <input class="form-control" id="emp-pin" name="emp-pin" placeholder="Unique PIN " type="text" />
                        <span class="help-block" id="hint_emp-pin">
                               Insert your pin number here
                              </span>
                    <div>
                        <button class="btn btn-primary" name="submit" type="submit" onclick="verifyPin()" id="verify-pin">
                            Verify PIN
                        </button>
                    </div>
                </div>
                <div id="emp-pin-emp-display">
                    <h1 id="emp-pin-emp-display-name"></h1>
                    <h1 id="emp-pin-emp-display-pin"></h1>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="emp-pin-confirm" onclick="confirmEmpPin()">Confirm Action</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div id="alert-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 id="alert-modal-title" class="modal-title"></h4>
            </div>
            <div id="alert-modal-body" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Login Modal for employee mode-->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Login to Your Account</h1>
            <br>
            <form>
                <input type="text" name="email" id="te-email" placeholder="Email">
                <input type="password" name="pass" id="te-password" placeholder="Password">
                <input type="submit" name="login" class="login loginmodal-submit" onclick="event.preventDefault(); toggleEmployeeMode();" value="Login">
            </form>

            <div class="login-help">
                <a href="#">You are required to login in order to toggle employee mode</a>
            </div>
        </div>
    </div>
</div>

<ul id="contextMenu" class="dropdown-menu" role="menu" style="display:none" >
    <li><a tabindex="-1" href="#">Action</a></li>
    <li><a tabindex="-1" href="#">Another action</a></li>
    <li><a tabindex="-1" href="#">Something else here</a></li>
    <li class="divider"></li>
    <li><a tabindex="-1" href="#">Separated link</a></li>
</ul>
</body>

</html>