<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">  
	<title>Board</title>

	<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/tasks.js') }}"/>
</head>
<body>
    <input type="hidden" id="orgid" value="{{ orgid }}">

  <!-- Navigation -->
	<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="boards.html">Gatha</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="boards.html">{{ orgname }}</a></li>
        <li ><a href="#">Shoes</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Hi, {{ accountname }}</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
      </ul>
    </div>
  </nav>

  <!-- Body -->
  <main>
    <!-- Boards -->
    <div class="grid" id="states-block">
      <div class="row boards" id="states">
        <div class="col-sm-4">
          <div class="state">
            <div class="heading">
              <h1>To-Do</h1>
            </div>
            <div class="empty">
              <h2><span id="todoTasksNumber">0 </span> <span class="glyphicon glyphicon-tasks"></span></h2>
              <h3><span class="glyphicon glyphicon-plus" id="addTask"></span></h3>
            </div>
            <div class="content" id="newTasks">
              <!-- <div> -->
                <!-- <div id="task0" class="task">
                  <div id="employee" class="taskEmp">
                    <h3>WW</h3>
                  </div>
                  <div class="taskContent">
                    <h6>Clean up shoes stores, and don't forget!</h6>
                    <div>
                      <p><span id="comment00">1 </span><span class="glyphicon glyphicon-comment"></span></p>
                      <span class="btn transparent glyphicon glyphicon-chevron-down showComment"></span>
                    </div>
                  </div>
                  <div class="taskImportant"></div>
                  <div id="commentsBlock0">
                   <p>* Clean up you shoes<p>
                   <p>* Move your rubbish<p>
                   <p>* Move your rubbish<p>
                  </div>
                </div> -->
               
            </div>
          </div>
        </div>


         <div class="col-sm-4">
          <div class="state">
            <div class="heading">
              <h1>Doing</h1>
            </div>
            <div class="empty">
              <h2>10 <span class="glyphicon glyphicon-tasks"></span></h2>
            </div>
            <div class="content"></div>
          </div>
        </div>
         <div class="col-sm-4">
          <div class="state">
            <div class="heading">
              <h1>Done</h1>
            </div>
            <div class="empty">
              <h2>23 <span class="glyphicon glyphicon-tasks"></span></h2>
            </div>
            <div class="content"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Employees -->
    <div id="employees-block">
      <div>
          <h4 style="display: inline-block;" > Employees (<span id="empsNumber">3</span>)</h4>
      </div>
      <div id="employees" class="employees emps">
        <div id="employee_0" class="employee" draggable="true">
            <p>Robert Williams</p>
          </div>
           <div id="employee_1" class="employee">
            <p>Sam Smith</p>
          </div>
           <div id="employee_2" class="employee" ondrag="dragg()">
            <p>George Ezra</p>
          </div>
      </div>
    </div>
  </main>

</body>
</html>