<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">  
	<title>Boards</title>

	<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/custom.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="../../static/js/bootstrap.min.js"></script>
	<script src="../../static/js/jqury.js"></script>
  <script src="../../static/js/boards.js"></script>
</head>
<body>

  <!-- Navigation -->
	<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Gatha</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Bunnings</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Hi, John</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
      </ul>
    </div>
  </nav>

  <!-- Body -->
  <main>
    <!-- Boards -->
    <div class="grid" id="boards-block">
      <div class="row">
        <div class="col-sm-12"> 
          <h4 style="display: inline-block;" > Boards (<span id="boardsNumber">0</span>)</h4>
          <button id="addBoard" class="btn transparent add glyphicons glyphicon-plus"></button>
        </div>
      </div>
      <div class="row boards" id="boards"></div>
    </div>
    <!-- Employees -->
    <div id="employees-block">
      <div>
          <h4 style="display: inline-block;" > Emps (<span id="empsNumber">0</span>)</h4>
          <button id="addEmployee" class="btn transparent add glyphicons glyphicon-plus"></button> 
      </div>
      <div id="employees" class="employees emps"></div>
    </div>
  </main>

</body>
</html>