<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Report</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.2/Chart.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>
<body>

<!-- Body -->
<main id="login" class="sign">
    <div class="state">

        <!-- Logo -->
        <div class="heading">
            <img src="{{ url_for('static', filename='img/logo_green.png') }}" alt="Gatha Logo">
        </div>

        <div class="container">
            <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
            <canvas id="report-canvas" width="800" height="600"></canvas>
        </div>
    </div>
</main>

<div id="alert-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="alert-modal-title" class="modal-title"></h4>
            </div>
            <div id="alert-modal-body" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    function randomColor() {
        var r = Math.floor(Math.random() * 255);
        var g = Math.floor(Math.random() * 255);
        var b = Math.floor(Math.random() * 255);
        return "rgb(" + r + "," + g + "," + b + ")";
    }
    var ctx = document.getElementById("report-canvas").getContext("2d");
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Todo", "Doing", "Done"],
            datasets: [{
                label: '# of Tasks',
                fillColor: [randomColor(), randomColor(), randomColor()],
                strokeColor: randomColor(),
                pointColor: randomColor(),
                pointStrokeColor: randomColor(),
                pointHighlightFill: randomColor(),
                pointHighlightStroke: randomColor(),
                data: [{{ t }}, {{ td }}, {{ d }}]
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });



</script>

<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Task', '#'],
            ['Todo',     {{ t }}],
            ['Doing',      {{ td }}],
            ['Done',  {{ d }}]
        ]);

        var options = {
            title: 'Tasks',
            is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
    }
</script>
</body>
</html>