<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ orgname }} - {{ boardname }}</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}" />

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <style>
    </style>
</head>

<body>


<!-- Navigation -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="boards.page">
                <div class="img"></div>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="boards.html">{{ orgname }}</a>
            </li>
            <li><a href="board.html">{{ boardname }}</a>
            </li>
        <div class="btn-group nav navbar-nav navbar-right">
            <a class=" dropdown-toggle" data-toggle="dropdown" href="#">
                {{ accountname }}
                <span class="glyphicon glyphicon-menu-down"></span>
            </a>
            <ul class="dropdown-menu">
                <!-- dropdown menu links -->
                <li class="active"><a href="#">{{ accountname }}</a>
                </li>
                <li class="a"><a href="#" onclick="enableEmployeeMode()">Employees</a>
                </li>
                <hr>
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Log Out</a>
                </li>
            </ul>
        </div>
        <!-- </li> -->

        </ul>
    </div>
</nav>

<!-- Body -->
<main>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <canvas class="myChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    <script>
        var ctx = document.getElementsByClassName("myChart");
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["ToDo", "Doing", "Done"],
                datasets: [{
                    label: '# of Tasks',
                    data: [{{ t }}, {{ td }}, {{ d }}]
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>
</main>

</body>

</html>