<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">  
	<title>Sign Up</title>

	<link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../static/css/custom.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
	<script src="../../static/js/bootstrap.min.js"></script>
	<script src="../../static/js/jqury.js"></script>
</head>
<body>

  <!-- Body -->
  <main id="signup" class="sign">
    <div class="state">
      <div class="heading">
        <img src="../../static/img/logo_green.png" alt="Gatha Logo">
      </div>
      <div class="content">
        <p>* All fields are required.</p>
        <form>
          <fieldset class="form-group">
            <input type="text" class="form-control input" id="warehouse" placeholder="Warehose Name">
          </fieldset>
          <fieldset class="form-group">
            <input type="text" class="form-control input" id="manager" placeholder="Manager Name">
          </fieldset>
          <fieldset class="form-group">
            <input type="email" class="form-control input" id="email" placeholder="Email">
          </fieldset>
          <fieldset class="form-group">
            <input type="text" class="form-control input" id="username" placeholder="Username">
          </fieldset>
          <fieldset class="form-group">
            <input type="password" class="form-control input" id="password" placeholder="Password">
          </fieldset>
          <div class="text-center">
            <button class="btn brd log" type="button" onclick="location.href='boards.html';">Sign up</button>
          </div>
        </form>
      </div>
    </div>
  </main>

</body>
</html>