{% extends "layout.html" %}
{% block content %}
    <br/><br/><br/>
<form class="form-horizontal" id="create-task-form">
    <fieldset>

        <!-- Form Name -->
        <legend>Create A Task</legend>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Board</label>
            <div class="col-md-6">
                <select id="selectboard" name="selectboard" class="form-control">
                    {% for item in boards %}
                        <option value="{{ item['id'] }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="taskname">Task Name</label>
            <div class="col-md-6">
                <input id="taskname" name="taskname" type="text" placeholder="Task name here like a title" class="form-control input-md" required="">
                <span class="help-block">help</span>
            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="taskdesc">Task Description</label>
            <div class="col-md-6">
                <input id="taskdesc" name="taskdesc" type="text" placeholder="Task Description" class="form-control input-md" required="">
                <span class="help-block">help</span>
            </div>
        </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="employee">Assign To Employee</label>
            <div class="col-md-6">
                <select id="employee" name="employee" class="form-control">
                    <option value="none">None</option>
                    {% for item in employees %}
                        <option style="background-color:{{ item['color'] }};" value="{{ item['pin'] }}">{{ item['pin'] }}({{ item['name']}})</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="employee">Manager</label>
            <div class="col-md-6">
                <select id="manager" name="manager" class="form-control">
                    {% for item in managers %}
                        <option value="{{ item['id'] }}">{{ item['name']}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Multiple Radios (inline) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="urgent">Mark As Urgent</label>
            <div class="col-md-4">
                <label class="radio-inline" for="urgent-0">
                    <input type="radio" name="urgent" id="urgent-0" value="yes">
                    Yes
                </label>
                <label class="radio-inline" for="urgent-1">
                    <input type="radio" name="urgent" id="urgent-1" value="no" checked="checked">
                    No
                </label>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-4 control-label" for="taskname"></label>
            <div class="col-md-6">
                <button type="submit" value="Send" class="btn btn-success" id="submit" />
            </div>
        </div>

    </fieldset>
</form>

    <script>
        $( "#create-task-form" ).submit(function( event ) {
            event.preventDefault();
            var data = {}
            data['board_id'] = $("#selectboard").val();
            data['task_title'] = $("#taskname").val();
            data['task_desc'] = $("#taskdesc").val();
            data['employee_id'] = $("#employee").val();
            data['manager_id'] = $("#manager").val();
            data['urgent'] = false;
            if($('#urgent-0').is(':checked')) {
                data['urgent'] = true
            }
            data = JSON.stringify(data);
            console.log(data);
            $.ajax({
                url: '{{ url_for('submit_create_task') }}',
                type: 'POST',
                data: data,
                contentType: 'application/json;charset=UTF-8',
                cache: false,
                success: function(response) {
                    console.log(response);
                    $(location).attr('href', response.url)
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    </script>
{% endblock %}