{% extends "layout.html" %}
{% block content %}

<style>
    .ui-draggable-dragging {
        z-index: 10000!important}

    .task-column {
        margin-top:10px;
        border: #000000 medium solid;
        border-radius: 50px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
    }

    .task-block {
        margin-top:10px;
        border: #595959 medium solid;
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
    }

    .caution-border {
        border: 10px solid transparent;
        -moz-border-image: -moz-linear-gradient(right, #fcfa1e 0%, rgba(0, 0, 0, 0.91) 100%);
        -webkit-border-image: -webkit-linear-gradient(right, #fcfa1e 0%, #000000 100%);
        border-image: linear-gradient(to left, #fcfa1e 0%, #000000 100%);
        border-image-slice: 1;
    }
</style>

</br></br></br></br></br></br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 task-column" id="container-task">
            <h2>
                Task
            </h2>

            <p>
                <a class="btn" href="#">View details »</a>
            </p>
            {% for item in tasks %}
                {% if item.unassigned == True %}
                    {% if item.urgent == True%}
                        <blockquote class="task-block current-task caution-border" data-id={{item.id}}>
                    {% else %}
                        <blockquote class="task-block current-task" data-id={{item.id}}>
                    {% endif %}
                            <p>
                                Description <cite>{{item.desc}}</cite>
                            </p> <small><cite>Title</cite>{{item.title}}</small>
                <a href="#" class="btn btn-info" data-toggle="collapse"
                   data-target="#comments-{{ item.id }}">Comments</a>
                <div id="comments-{{ item.id }}" class="collapse"></div>
                        </blockquote>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4 task-column" id="container-doing">
            <h2>
                Doing
            </h2>

            <p>
                <a class="btn" href="#">View details »</a>
            </p>
            {% for item in tasks %}
                {% if item.todo == True %}
                    {% if item.urgent == True%}
                        <blockquote class="task-block current-task caution-border" data-id={{item.id}} style="background-color: {{ item.color }}">
                    {% else %}
                        <blockquote class="task-block current-task" data-id={{item.id}} style="background-color: {{item.color}}">
                    {% endif %}
                    <p>
                        <img width="16" height="16" alt="star" src="{{ item.logo_class }}" />
                        Description <cite>{{item.desc}}</cite>
                    </p> <small><cite>Title</cite>{{item.title}}</small>
                    <a href="#" class="btn btn-info" data-toggle="collapse" data-target="#comments-{{ item.id }}">Comments</a>
                    <div id="comments-{{ item.id }}" class="collapse"></div>
                </blockquote>
                 {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-4 task-column" id="container-done">
            <h2>
                Done
            </h2>

            <p>
                <a class="btn" href="#">View details »</a>
            </p>
            {% for item in tasks %}
                {% if item.done == True %}
                    {% if item.urgent == True%}
                        <blockquote class="task-block current-task caution-border" data-id={{item.id}} style="background-color: {{item.color}}">
                    {% else %}
                         <blockquote class="task-block current-task" data-id={{item.id}} style="background-color: {{item.color}}">
                    {% endif %}
                    <p>
                        <img width="16" height="16" alt="star" src="{{ item.logo_class }}" />
                        Description <cite>{{item.desc}}</cite>
                    </p> <small><cite>Title</cite>{{item.title}}</small>
                    <a href="#" class="btn btn-info" data-toggle="collapse" data-target="#comments-{{ item.id }}">Comments</a>
                    <div id="comments-{{ item.id }}" class="collapse"></div>
                </blockquote>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<script>
    $('.task-block').draggable();

    $( "#container-task" ).droppable({
        drop: function( event, ui ) {
            addTaskToContainer($(this), event, ui);
        }
    });

    $( "#container-doing" ).droppable({
        drop: function( event, ui ) {
            addTaskToContainer($(this), event, ui);
        }
    });

    $( "#container-done" ).droppable({
        drop: function( event, ui ) {
            addTaskToContainer($(this), event, ui);
        }
    });

    function addTaskToContainer(droppable, event, ui)
    {
        var task = ui['draggable'][0];
        $(task).css('left', '0');
        $(task).css('right', '0');
        droppable.append(task);
    }

    $(document).ready(function() {
        $('.task-block').each(function(i, obj) {
            console.log($(this).data("id"));
            populateComments($(this).data("id"));
        });
    });

    function populateComments(taskId)
    {
        var value = {"task_id": taskId};
        $.ajax({
            type : "POST",
            url : "{{ url_for('get_comments') }}",
            data: JSON.stringify(value),
            contentType: 'application/json;charset=UTF-8',
            success: function(result) {
                var i;
                for (i = 0; i < result.comments.length; ++i) {
                    var element = " <blockquote class=\"\" data-id=" + i + "\"><p><cite>" + result.comments[i].text + "</cite> </p> <small>" + result.comments[i].author + "</small>";
                    $("#comments-" + taskId).append(element);
                }
                console.log(result);
            }
        });
    }
</script>
{% endblock %}