{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    {{ title }}
                </h3>
                <p>
                    desc
                </p>
                <dl>
                    <dt>
                        Urgency
                    </dt>
                    <dd>
                        {{ urgency }}
                    </dd>
                    <dt>
                        Created At
                    </dt>
                    <dd>
                        {{ creationdate }}
                    </dd>
                </dl>
                <div class="row">
                    {% for item in doingtasks %}
                        <div class="col-md-12" data-id="{{ item.id }}">
                            <blockquote>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                </p> <small>{{ item.author }} <cite>{{ item.date }}</cite></small>
                            </blockquote>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}